body {
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#logo-epicode {
    width: 200px;
    margin-left: 100px;
    margin-top:50px
}

h1{
    font-size: 50px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
}

#secondTitle {
    font-size: 30px;
    color:white;
    text-align: center;
}

#thirdTitle {
    color:white;
    font-size: 30px;
    text-align: center;
}

#inputTesto {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 700px;
    border-color: transparent;
    background: transparent;
    font-size: 20px;
    border-bottom-color: fuchsia;
}

#buttonMoreInfo {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    display: block;
    width: 200px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    background-color: aqua;
    box-shadow: 2px 2px 2px 1px aqua;
}

.rating {
    margin-left: 350px;
}