/* Imported fonts */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/* General styles */

/* Logo style */

#logo{
    height: 35px;
    width: 150px;
}
/* Background styles */
.pageBackground{
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
   
}

/* Text styles */

.title{
    font-family: 'Inter', sans-serif;
    font-size: 60px;
    color: white;
}

.bold{
    font-weight: 700;
}

.paragraph{
    font-family: 'Outfit', sans-serif;
    color: white;
    font-size: 16px;
}