/* Imported fonts */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/* General styles */

body {
	min-height: 100vh;
	height: 100%;
}

/* general margin main style */
.main-wrapper {
	margin: 0 auto;
	padding-top: 2rem;
	max-width: 1000px;
}

/* Logo style */

#logo {
	height: 35px;
	width: 150px;
}
/* Background styles */

.pageBackground {
	background-image: url(../img/bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

/* Text styles */

.title {
	font-family: 'Outfit', sans-serif;
	font-size: 50px;
	color: #e7e7eb;
}

.bold {
	font-weight: 700;
}

.paragraph {
	font-family: 'Inter', sans-serif;
	color: #e7e7eb;
	font-size: 16px;
}

/* ButtonStyles */

.LightButtonStyle {
	border: none;
	background-color: #00ffff;
	color: black;
	font-family: 'Inter', sans-serif;
	font-weight: 700;
	padding: 10px 35px 10px 35px;
	text-align: center;
	-webkit-box-shadow: 0px 0px 23px 0px rgba(0, 255, 255, 1);
	-moz-box-shadow: 0px 0px 23px 0px rgba(0, 255, 255, 1);
	box-shadow: 0px 0px 23px 0px rgba(0, 255, 255, 1);
	cursor: pointer;
}
