/* Imported fonts */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/* General styles */

/* Logo style */

#logo{
    height: 35px;
    width: 150px;
}
/* Background styles */

.pageBackground{
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
}

/* Text styles */

.title{
    font-family: 'Inter', sans-serif;
    font-size: 50px;
    color: white;
}

.bold{
    font-weight: 700;
}

.paragraph{
    font-family: 'Outfit', sans-serif;
    color: white;
    font-size: 16px;
}

.LightButtonStyle{
    background-color: #00FFFF;
    color: black;
    font-family:'Inter', sans-serif;
    font-weight: 700;
    padding: 10px 30px 10px 30px;
    -webkit-box-shadow: 0px 0px 15px 3px rgba(0,255,255,0.31);
    -moz-box-shadow: 0px 0px 15px 3px rgba(0,255,255,0.31);
    box-shadow: 0px 0px 15px 3px rgba(0,255,255,0.31);
}
