*,
.percentage #TimerText {
	font-family: 'Outfit', sans-serif;
}

main {
	text-align: center;

}

#questions-wrapper{
    width: 660px;
    margin: 0 auto;
	padding-right: 30px;
}


.btn {
	font-family: 'Inter', sans-serif;
	font-weight: 600;
	background-color: rgba(255, 255, 255, 0.13);
	color: white;
	width: 300px;
	height: 65px;
	margin-top: 15px;
	margin-left: 30px;
	border-radius: 40px;
	border-left: none;
	border-right: none;
	border-bottom: none;
	border-top:solid 2px rgba(221, 217, 217, 0.726);
}



.bottom {
	margin-top: 100px;
	color: white;
}
/* #logo {
	margin-top: 35px;
	margin-left: 70px;
} */

.title {
	margin-top: 150px;
	margin-bottom: 3rem;
	font-size: 2.5rem;
}
.circular-timer {
	width: 85px;
	height: 85px;
	border-radius: 50%;
	position: relative;
	margin: 50px auto;
	margin-right: 100px;
	border: 13px solid #ccc;
}

.timer {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	clip: rect(0px, 200px, 200px, 100px);
	position: absolute;
}

.timer .inner {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	border: 6px solid #ff6a00;
	clip: rect(0px, 100px, 200px, 0px);
	position: absolute;
}

.text {
	text-align: center;
	line-height: 85px;
	font-size: 20px;
	color: #333;
}

#TimerText {
	font-size: 3rem;
	color: #fff;
}



.btn:hover, .btn.selected{
	background: linear-gradient(-180deg, #9e0470 40%, #c90090 100%);
}


header {
	display: flex;
	justify-content: space-between;
}

.progress {
	stroke: #00ffff;
}
#totalQuestionionNumber {
	color: #d20094
}

#nextButton {
	border: none;
	margin-top: 60px;
	background: transparent;
	border: solid 2px white;
	color: white;
	font-family: 'Inter', sans-serif;
	font-weight: 700;
	padding: 15px 60px 15px 60px;
	text-align: center;
	cursor: pointer;
}

#nextButton:hover{
	background: linear-gradient(-180deg, #9e0470 40%, #c90090 100%);
}

