* {
	color: #fff;
	// box-sizing: border-box;
}
body {
	height: 100vh;
}

.main-wrapper {
	margin: 0 auto;
	max-width: 1000px;
	padding-top: 2rem;
}

.title-wrapper {
	margin-bottom: 2rem;

	&.title {
		font-weight: 700;
	}

	p {
		font-size: 0.5em;
		font-weight: 400;
	}
}

.row {
	display: flex;
	.col-one-third {
		width: 33.333%;
	}
}

.flex-col {
	flex-direction: column;
}
