* {
  color: #fff;
}

.main-wrapper {
  margin: 0 auto;
  max-width: 1000px;
  padding-top: 2rem;
}

.title-wrapper {
  margin-bottom: 2rem;
  text-align: center;
}

.title-wrapper.title {
  font-weight: 700;
}

.title-wrapper p {
  font-size: 0.5em;
  font-weight: 400;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}

.row .col {
  /* width: 33.333%; */
  text-align: center;
}

.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}


.LightButtonStyle {
  border: none;
	margin-top: 25px;
	background: transparent;
	border: solid 2px white;
	color: white;
	font-family: 'Inter', sans-serif;
	font-weight: 700;
	padding: 15px 60px 15px 60px;
	text-align: center;
	cursor: pointer;
}

.circle {
  border: 20px solid #00ffff;
  border-radius: 50%;
  height: 180px;
  width: 180px;
  padding: 30px 20px 0px 20px;
  margin-bottom: 30px;
  text-align: center;
  margin: 20px auto;
}

.purpleH3 {
  color: #00ffff;
  margin-bottom: 20px;
}


.circle-text > h3{
  font-size: 1.3rem;
}

.circle-text {
  font-size: 1rem;
  width: 60%;
  display: inline-block;
}

#aStyle {
  text-decoration: none;
}

.progress {
  stroke: #00ffff;
  -webkit-transition-duration: 2500ms;
          transition-duration: 2500ms;
  -webkit-transition-timing-function: cubic-bezier(0.39, 0.58, 0.4, 0.97);
          transition-timing-function: cubic-bezier(0.39, 0.58, 0.4, 0.97);
}

.bg {
  stroke: #c2128d;
}

.perc {
  width: 105px;
}/*# sourceMappingURL=Results.css.map */


#details{
  margin-bottom: 50px;
  background-color: #0000001f;
  padding: 20px 20px;
  border-radius: 20px;
  box-shadow: 1px 0px 48px 10px rgb(0 0 0 / 50%);
  
}

.detail-wrapper{
  
  border-top: 1px solid;
  
}

.questions-ul {
  margin: 15px;
  list-style: none;
  font-family: 'Outfit', sans-serif;
}

.questions-ul > li{
  margin: 10px 0;
  opacity:0.7
}


div.detail-wrapper > h3{
  margin-top: 15px;
  font-weight: bold;
  font-size: 1.1em;
  font-family: 'Inter', sans-serif;
  letter-spacing: 0.5px;
  line-height: 1.2em;
}

.fa-solid.fa-check{
  color: rgb(149, 240, 14);
 
}

.fa-solid.fa-xmark{
  color: rgb(255, 15, 15);
}