/* Imported fonts */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
	background-image: url(/assets/img/bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}

h3 {
	font-family: 'Inter', 'sans-serif';
	color: #d20094;
	font-size: larger;
}

p {
	font-family: 'Inter', 'sans-serif';
	color: white;
	max-width: 70%;
	margin-bottom: 40px;
}
li {
	font-family: 'Inter', 'sans-serif';
	color: white;
	margin-bottom: 10px;
}
#label {
	color: white;
	font-family: 'Inter', 'sans-serif';
}
.row {
	margin-top: 100px;
	display: flex;
	justify-content: space-between;
}

.LightButtonStyle:disabled {
	opacity: 0.5;
}
