.title {
	font-size: 60px;
	margin-bottom: 50px;
}

strong {
	font-weight: 700;
}

main {
	margin-top: 100px;
}

h3 {
	font-family: 'Outfit', sans-serif;
	color: #d20094;
	font-size: 1.875rem;
	font-weight: 700;
	margin-bottom: 1rem;
}

p {
	font-family: 'Inter', sans-serif;
	color: white;
	max-width: 70%;
	margin-bottom: 40px;
	line-height: 1.5em;
	display: inline-block;
}

ul {
	margin-left: 1rem;
}

li {
	font-family: 'Inter', sans-serif;
	color: white;
	margin-bottom: 10px;
}

#label {
	color: white;
	font-family: 'Inter', 'sans-serif';
}
.row {
	margin-top: 100px;
	display: flex;
	justify-content: space-between;
}

.LightButtonStyle:disabled {
	opacity: 0.5;
}

form {
	font-family: 'Inter', 'sans-serif';
	color: white;
	max-width: 70%;
	margin-bottom: 30px;
}

input {
	font-family: 'Inter', sans-serif;
	color: white;
	background-color: rgb(255 255 255 / 1%);
	margin-top: 15px;
	border-radius: 40px;
	border-left: none;
	border-right: none;
	border-bottom: none;
	border-top: solid 2px rgba(221, 217, 217, 0.726);
}

.LightButtonStyle {
	font-size: 1.38rem;
	padding: 15px 54px;
}


.flex-bottom {
	align-items: flex-end;
}


select {
	background-color: #0c113b;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    color: white;
    margin-left: 19px;
    width: 60px;
    font-family: 'Inter', 'sans-serif';
	border: solid 1px white;
}


.css-checkbox {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

#inputPreview {
	display: flex;
	gap: 20px;
	justify-content: center;
}

.css-checkbox+label {
	position: relative;
	font-size: 14px;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	height: 18px;
	color: rgb(255, 255, 255);
	
}

.css-checkbox+label::before {
	content: " ";
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	width: 14px;
	height: 14px;
	background-color: rgba(214, 182, 214, 0);
	border-width: 2px;
	border-style: solid;
	border-color: rgb(255, 255, 255);
	border-radius: 0px;
	
}

.css-checkbox:checked+label::after {
	content: " ";
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBmaWxsPSIjZmZmZmZmIiBkPSJNMTczLjg5OCA0MzkuNDA0bC0xNjYuNC0xNjYuNGMtOS45OTctOS45OTctOS45OTctMjYuMjA2IDAtMzYuMjA0bDM2LjIwMy0zNi4yMDRjOS45OTctOS45OTggMjYuMjA3LTkuOTk4IDM2LjIwNCAwTDE5MiAzMTIuNjkgNDMyLjA5NSA3Mi41OTZjOS45OTctOS45OTcgMjYuMjA3LTkuOTk3IDM2LjIwNCAwbDM2LjIwMyAzNi4yMDRjOS45OTcgOS45OTcgOS45OTcgMjYuMjA2IDAgMzYuMjA0bC0yOTQuNCAyOTQuNDAxYy05Ljk5OCA5Ljk5Ny0yNi4yMDcgOS45OTctMzYuMjA0LS4wMDF6Ii8+PC9zdmc+");	background-repeat: no-repeat;
	background-size: 10px 10px;
	background-position: center center;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 0px;
	left: 0px;
	top: 0px;
	text-align: center;
	background-color: transparent;
	font-size: 10px;
	height: 18px;
	width: 18px;
	
}

form p {
	margin-bottom: 20px;
}